.vscode

# Ignore bootloader binaries
mcpc-bootloader/bootloader_tmp.ma
mcpc-bootloader/bootloader_tmp.mb
mcpc-bootloader/bootloader.mif

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
